<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<div class = 'pane'>
		<div class = 'header'>
		<h1>{{team.name}}</h1>
	</div>

	<!--
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>
	-->

	{% for player in players%}
	<div>
		<p>Name: {{player.name}}</p>
		<dd><input type ='text' size='30' name='name'></dd>
		<p>Position: {{player.position}}</p>
		<dd><input type ='text' size='30' name='name'></dd>
		<p>Total Points: {{player.points}}</p>
		<dd><input type ='text' size='30' name='name'></dd>
		<br>
	</div>
	{% endfor %}

</body>

</html>