{% extends "base.html" %}    

    {% block content %}   
	<div class="container">
		<h2>Free Agents</h2>

	<!--
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>
	-->
	{% if not players %}
		<p>There are no free agents at this time.</p>
	{% else %}
		{% for player in players %}
	    <div class="row spacer">
		    <div class="col-md-4">
				<h3>Name: {{player.name}}</h3>
			</div>
		    <div class="col-md-4">
				<h3>Position: {{player.position}}</h3>
			</div>
		    <div class="col-md-4">
				<h3>Total Points: {{player.points}}</h3>
			</div>
		</div>
		<div class="row spacer">
			<form action="{{ url_for('addPlayerToTeam', team_id=team_id, player_id=player.id)}}">
			<div class="col-md-4">
				<input type=submit value="Add to my team">
			</div>
			</form>
			<form action="{{ url_for('deletePlayer', team_id=team_id, player_id=player.id)}}">
			<div class="col-md-8">
				<input type=submit value="Delete">
			</div>
			<div class="row">
				<hr>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>

{% endblock %}