{% extends "base.html" %}    

    {% block content %}   
	<div class="container">
		<h2>Free Agents</h2>

	<!--
	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>
	-->
	{% if not players %}
		<p>There are no free agents at this time.</p>
	{% else %}
		{% for player in players %}
		<div class="row">
			<div class="col-md-4">
				<h4>Name: {{player.name}}</h4>
			</div>
			<div class="col-md-4">
				<h4>Position: {{player.position}}</h4>
			</div>
			<div class="col-md-4">
				<h4>Total Points: {{player.points}}</h4>
			</div>
		</div>

		{% endfor %}
	{% endif %}
	</div>

{% endblock %}