{% extends "base.html" %}    

    {% block content %}   
    <div class="row">
	    <div class="col-md-12 text-center">
			<h1>{{team.name}}</h1>
		</div>
	</div>

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	{% if not players %}

	    <div class="row">
	    	<div class="col-md-12">
				<p>Sorry, there are no players on this team_id. 
				Please <a href="{{ url_for('addPlayer', team_id=team.id)}}">add some.</a></p>
			</div>
		</div>

	{% else %}

		{% for player in players %}
	    <div class="row spacer">
		    <div class="col-md-4">
				<h3>Name: {{player.name}}</h3>
			</div>
		    <div class="col-md-4">
				<h3>Position: {{player.position}}</h3>
			</div>
		    <div class="col-md-4">
				<h3>Total Points: {{player.points}}</h3>
			</div>
		</div>
	    <div class="row spacer">
		    <div class="col-md-1">
				<form action="{{ url_for('editPlayer', team_id=team.id, player_id=player.id)}}">
    				<input type="submit" value="Edit">
				</form>
			</div>
		    <div class="col-md-1">
				<form action="{{ url_for('deletePlayer', team_id=team.id, player_id=player.id)}}">
    				<input type="submit" value="Delete">
				</form>
			</div>
		    <div class="col-md-10">
		    </div>
				<br>
		</div>


		{% endfor %}

		<div class="row spacer">
			<div class="col-md-12">
				<a href="{{ url_for('addPlayer', team_id=team.id)}}">Add a new player</a>
			</div>
		</div>

	{% endif %}

{% endblock %}